 .button {
  color: $quartz;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid $quartz;

  &:hover {
    color: lighten($quartz, 15%);
    border-color: lighten($quartz, 15%);
  }

  &.is-main {  
    border-width: 2px;
    margin-top: 1.5rem;
    padding: .5rem 2rem;
    height: inherit;
  }

  &.is-small {
    border-radius: 0;
  }
}

.buttons {
  justify-content: center;
  margin-top: 1.5rem;

  .button:not(.is-small) {
    min-width: 100px;
  }
}