.profile {
  .modal-content {
    background-color: $white;
    border: 0;
    margin: 0 0 0 auto;
    width: 350px;
    height: 100vh;
    max-height: 100vh;
  }

  .modal-close::before, .modal-close::after {
    background-color: $mist;
  }

  .modal-close:hover {
    background-color: lighten($slate, 2%);
  }

  .staff-profile {
    width: 175px;
    margin: 0 auto 2rem;
    border: 5px solid $mist;
  }

  li {
    font-size: .9rem;
    line-height: 1.5rem;
  }

  .fa {
    color: $grey-light;
    text-align: center;
    margin-right: .5rem;
    width: 20px;
  }
}