.sidebar {
  background-color: $koamaru;
  padding: 3rem;

  .menu {
    margin-bottom: 3rem;
  }

  .menu-label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .3rem;
  }

  .lnr {
    margin-right: .75rem;
  }
}