// HEADER
$navbar-height: 5rem;
$navbar-item-img-max-height: 2.75rem;
$navbar-item-color: $quartz;
$navbar-dropdown-arrow: $periwinkle;
$navbar-dropdown-border-top: 2px solid $mist;

// SIDEBAR
$menu-label-color: $slate;
$menu-item-color: $quartz;
$menu-item-hover-color: $quartz;
$menu-item-hover-background-color: lighten($koamaru, 5%);
$menu-item-active-background-color: lighten($koamaru, 10%);

// TABS
$tabs-border-bottom-color: $mist;
$tabs-link-color: $quartz;
$tabs-link-hover-color: $quartz;
$tabs-link-hover-border-bottom-color: $periwinkle;
$tabs-link-active-color: $indigo;
$tabs-link-active-border-bottom-color: $indigo;
$tabs-border-bottom-width: 2px;

// PROGRESS
$progress-bar-background-color: $mist;
$progress-value-background-color: $periwinkle;

// FORM
$control-radius: 0;

// CARD
$card-shadow: none;
