.columns.is-fullheight {
  min-height: calc(100vh - #{$navbar-height});
  max-height: calc(100vh - #{$navbar-height});
  height: calc(100vh - #{$navbar-height});
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  .column {
    overflow-y: auto;
  }
}

.navbar-link::after,
.select:not(.is-multiple):not(.is-loading)::after {
  height: .5rem;
  width: .5rem;
  border-width: 1px;
  border-radius: 0;
}

.select, select {
  width: 100%;
}

.input, .textarea {
  background-color: $slate;
  color: $quartz;
  border-color: $slate;
  box-shadow: none;
  height: 2rem;
  font-size: .85rem;

  &::placeholder {
    color: lighten($quartz, 15%);
  }

  &:hover {
    border-color: $lavender;
  }

  &:focus {
    border-color: $indigo;
  }
}

.button {
  text-transform: uppercase;
  font-weight: 500;

  &.is-main-button {
    color: $quartz;
    border: 2px solid $quartz;
    margin-top: 1.5rem;
    padding: .5rem 2rem;
    height: inherit;

    &:hover {
      color: lighten($quartz, 15%);
      border-color: lighten($quartz, 15%);
    }
  }
}

.card-content {
  padding: 2.5rem;
  border-bottom: 2px solid $mist;
}