.content-container {
  padding: 4rem;
}

#shop {
  padding: 0 3rem;

  .column {
    padding: 1.5rem 0;

    span {
      display: inline-flex;
      align-items: center;
      height: 2rem;
    }
  }

  .column:first-child {
    color: $grey-light;
    text-align: right;
    padding-right: 2rem;   
  }

  .column:last-child { 
    border-bottom: 1px solid $slate;
  }

  .columns:last-child .column {
    border-bottom: 0;
  }

  .button:first-child {
    margin-bottom: .5rem;
  }
}

#platforms {
  .columns {
    display: flex;
    flex-wrap: wrap;
  }

  img {
    object-fit: contain;
    height: 75px;  
  }

  .card {
    border-bottom: 0;
  }

  .card-footer {
    border-top: 0;
  }

  .card-footer a {
    background-color: $slate;
    color: $quartz;

    &:hover {
      background-color: darken($slate, 2%);
      color: $quartz;
    }
  }
}

img {
  display: block;
  object-fit: cover;
  
  &.logo {
    width: 175px;
    height: 175px;
    border: 3px solid $white;
    outline: 1px solid $grey-lighter;
    margin-left: 1px;
  }

  &.logo-small {
    width: 70px;
    height: 70px;
    border: 5px solid darken($slate, 5%);
    margin-right: .75rem;
  }

  &.logo-large {
    width: 200px;
    height: 200px;
    border: 5px solid darken($slate, 5%);
    margin: auto;
  }
}