.content-container {
  padding: 4rem;
}

.shop-logo {
  background-color: $mist;
  margin-left: 1px;
}

.shop-logo-small {
  margin-right: .75rem;
}

.shop-logo-large {
  margin: 0 auto 1.5rem;
}

#shop {
  padding: 0 3rem;

  .column {
    padding: 1.5rem 0;

    span {
      display: inline-flex;
      align-items: center;
      height: 2rem;
    }
  }

  .column:first-child {
    color: $grey-light;
    text-align: right;
    padding-right: 2rem;   
  }

  .column:last-child { 
    border-bottom: 1px solid $slate;
  }

  .columns:last-child .column {
    border-bottom: 0;
  }

  .button:first-child {
    margin-bottom: .5rem;
  }
}

#staff {
  .columns {
    display: flex;
    flex-wrap: wrap;
  }

  .staff-profile {
    font-size: 1.75rem;
    margin: 1.5rem auto -40px;
    width: 80px;
    height: 80px;

    img {
      height: 100%;
      border-radius: 50%;
    }
  }

  .card {
    border-bottom: 5px solid $mist;

    &.role-1 {
      border-bottom-color: $yellow;
    }

    &.role-2 {
      border-bottom-color: $green;
    }

    &.role-3 {
      border-bottom-color: $periwinkle;
    }
  }

  .card-header {
    box-shadow: none;
  }

  .card-content {
    background-color: lighten($slate, 2%);
    padding: 3.5rem 1.5rem 1rem;
  }

  li {
    font-size: .9rem;
  }

  .lnr {
    color: $quartz;
    margin-right: .5rem;
  }
}

#platforms {
  .columns {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    background-color: $slate;
    border-radius: 1rem;
    border: 0;
    height: 50px;
  }

  .card-content {  
    padding: 0;
    height: 100%;

    .columns {
      margin: 0;
      height: 100%;
    }

    .column {
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      height: 100%;
    }

    a {
      color: $white;
      line-height: 1;

      &:hover {
        color: $slate;
      }
    }

    .fa, .far, .fas {
      color: $indigo;
      font-size: 1.2rem;
    }

    img {
      width: 25px;
      height: 25px;
    }
  }
}